body {
    font-family: Arial;
    background: #ebe7e7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    background: rgb(184, 194, 187);
    padding: 20px;
    width: 230px;
    border-radius: 20px;
    border: 4px solid #d8c9c9;

}

input, button {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

button {
    background:rgb(133, 129, 129);
    color: rgb(7, 7, 7);
    border:2px solid black;
    border-radius: 5px;
}
.error {
    color: #807c7c;
    padding: 12px 16px;
    border: 2px solid #350713;
    background-color: rgb(156, 82, 82);
    border-radius: 10px;
    font-size:14px;
    text-align:center;
    visibility: hidden;
}